body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

.logout-button {
    background-color: #fbb451;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    float: right;
}

.logout-button:hover {
    background-color: #f4881b;
}

/* Table Styles */
.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-table th, .user-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.user-table th {
    background-color: #f9b154;
    color: white;
}

.user-table tr:hover {
    background-color: #f1f1f1;
}

.delete-button {
    color: white;
    background-color: #f4881b;
    padding: 8px 12px;
    border-radius: 4px;
    text-decoration: none;
}

.delete-button:hover {
    background-color: #f08010;
}